broadcast-transcoder/src/main/resources/ProgramBroadCast.xsd

<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="programBroadcast" type="programBroadcast"/>
    <xs:complexType name="programBroadcast">
    <xs:sequence>
        <xs:element name="timeStart" type="xs:dateTime"/>
        <xs:element name="timeStop" type="xs:dateTime"/>
        <xs:element name="channelId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
</xs:schema>
