broadcast-transcoder-webservice/src/main/resources/BroadcastTranscoderResponse.xsd

<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="btaResponse">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="filename" type="xs:string"/>
            <xs:element name="status" type="xs:string" />
            <xs:element name="filelength_bytes" type="xs:long" />
        </xs:sequence>
    </xs:complexType>
    </xs:element>
</xs:schema>